venv/
__pycache__/
.env
vector_db/
.vscode/

# old demo files 
agent.py
langchain_rag.py
rag.py
semantic_search.py
simple_rag.py
test_graph.py
test_llm.py     

# evaluation code (it is just for self evaulation of the model)
evaluate.py